SECRET_KEY=
DATABASE_URL=
DATABASE_SCHEMA=
GOOGLE_ANALYTICS_TRACKING_ID=
AWS_LOCATION=static
AWS_ACCESS_KEY_ID=
AWS_MEDIA_BUCKET_NAME=orderich-dev
AWS_STORAGE_BUCKET_NAME=orderich-dev
AWS_S3_REGION_NAME=eu-west-2
AWS_SECRET_ACCESS_KEY=
CELERY_BROKER_URL=
APP_ENV=dev
ALLOWED_CLIENT_HOSTS=*
ALLOWED_HOSTS=*
C_FORCE_ROOT=False
PLAYGROUND_ENABLED=True
DEBUG=True

